


/* Estilos generales */
.my-profile-container {
    padding: 20px;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  /* Estilos para los campos del formulario */
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input,
  select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #f53c3e;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
